body{
 background: rgb(216, 216, 216) !important;
}

.navbar-dark .navbar-brand{
    font-size: 30px;
    color: black !important; 
    font-weight: 800;
}

 button{
    padding: 8px 20px;
    background: rgb(127, 73, 255);
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 8px !important;
}



button:hover{
    border: 1px solid rgb(127, 73, 255);
    background: none;
    color: rgb(127, 73, 255);
    transition:all 0.3s ease-in-out;
}
.card{
    background-color:rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
    padding: 0 !important;
}
table{
    background: #fff;
    margin: 0 !important;
    padding: 0 !important;
}

table thead tr{
    background: rgba(230, 228, 237, 0.741);
 
}